<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'"/>
<a href="https://spring-projects.ru/guides/serving-web-content/">spring-projects.ru/guides/serving-web-content</a>
<a href="https://spring.io/guides/gs/accessing-data-mysql/">spring.io/guides/gs/accessing-data-mysql</a>
<a href="https://java-master.com/spring-boot-%D0%BF%D1%80%D0%B8%D0%BC%D0%B5%D1%80-%D1%81-postgres-%D0%B8-jpa/">подключение postgreSQL</a>
</body>
</html>